In [17]:
import pandas as pd
import numpy as np

In [73]:
df = pd.read_csv("first_dose_data_transpose.csv")

In [67]:
df.iloc[[1]]

,Recip_County,Eastland County,Hays County,Hunt County,Hutchinson County,Newton County,Nolan County,Wharton County,Clay County,Crane County,...,Borden County,Burleson County,Martin County,Throckmorton County,Wichita County,Concho County,Matagorda County,Montgomery County,Howard County,Lubbock County
1,10/22/2021,6953.0,144924.0,42326.0,7458.0,3542.0,6257.0,21014.0,4544.0,2081.0,...,227.0,9035.0,2002.0,663.0,69169.0,1443.0,17877.0,335844.0,14225.0,153873.0

In [29]:
new = df.iloc[1:-1].copy()
new

,Recip_County,Eastland County,Hays County,Hunt County,Hutchinson County,Newton County,Nolan County,Wharton County,Clay County,Crane County,...,Borden County,Burleson County,Martin County,Throckmorton County,Wichita County,Concho County,Matagorda County,Montgomery County,Howard County,Lubbock County
1,10/22/2021,6953.0,144924.0,42326.0,7458.0,3542.0,6257.0,21014.0,4544.0,2081.0,...,227.0,9035.0,2002.0,663.0,69169.0,1443.0,17877.0,335844.0,14225.0,153873.0
2,10/23/2021,6972.0,145111.0,42440.0,7474.0,3551.0,6272.0,21039.0,4552.0,2088.0,...,228.0,9048.0,2003.0,665.0,69333.0,1445.0,17906.0,336413.0,14295.0,154055.0
3,10/24/2021,6972.0,145171.0,42475.0,7479.0,3551.0,6278.0,21052.0,4556.0,2088.0,...,228.0,9055.0,2006.0,665.0,69412.0,1449.0,17916.0,336581.0,14299.0,154119.0
4,10/25/2021,6979.0,145235.0,42487.0,7486.0,3547.0,6278.0,21060.0,4561.0,2088.0,...,228.0,9066.0,2010.0,665.0,69423.0,1450.0,17930.0,336668.0,14301.0,154163.0
5,10/26/2021,6988.0,145428.0,42566.0,7500.0,3556.0,6287.0,21072.0,4566.0,2090.0,...,228.0,9083.0,2011.0,665.0,69451.0,1452.0,17953.0,337064.0,14328.0,154377.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,04/15/2022,7949.0,168839.0,48600.0,8496.0,3949.0,6835.0,24672.0,5405.0,2318.0,...,264.0,10144.0,2238.0,709.0,79993.0,1749.0,20062.0,386976.0,15933.0,174870.0
177,04/16/2022,7953.0,168908.0,48620.0,8498.0,3949.0,6836.0,24678.0,5405.0,2319.0,...,264.0,10146.0,2238.0,709.0,80018.0,1751.0,20063.0,387115.0,15933.0,174929.0
178,04/17/2022,7954.0,168931.0,48632.0,8499.0,3949.0,6834.0,24680.0,5407.0,2320.0,...,264.0,10148.0,2238.0,709.0,80040.0,1755.0,20067.0,387192.0,15934.0,174943.0
179,04/18/2022,7954.0,168978.0,48640.0,8497.0,3949.0,6834.0,24691.0,5410.0,2320.0,...,264.0,10152.0,2239.0,709.0,80043.0,1755.0,20067.0,387255.0,15934.0,174951.0
180,04/19/2022,7955.0,168997.0,48644.0,8499.0,3949.0,6834.0,24706.0,5410.0,2321.0,...,264.0,10152.0,2239.0,709.0,80054.0,1760.0,20076.0,387345.0,15948.0,174968.0

In [34]:
old = df.iloc[2:].copy()
old

,Recip_County,Eastland County,Hays County,Hunt County,Hutchinson County,Newton County,Nolan County,Wharton County,Clay County,Crane County,...,Borden County,Burleson County,Martin County,Throckmorton County,Wichita County,Concho County,Matagorda County,Montgomery County,Howard County,Lubbock County
2,10/23/2021,6972.0,145111.0,42440.0,7474.0,3551.0,6272.0,21039.0,4552.0,2088.0,...,228.0,9048.0,2003.0,665.0,69333.0,1445.0,17906.0,336413.0,14295.0,154055.0
3,10/24/2021,6972.0,145171.0,42475.0,7479.0,3551.0,6278.0,21052.0,4556.0,2088.0,...,228.0,9055.0,2006.0,665.0,69412.0,1449.0,17916.0,336581.0,14299.0,154119.0
4,10/25/2021,6979.0,145235.0,42487.0,7486.0,3547.0,6278.0,21060.0,4561.0,2088.0,...,228.0,9066.0,2010.0,665.0,69423.0,1450.0,17930.0,336668.0,14301.0,154163.0
5,10/26/2021,6988.0,145428.0,42566.0,7500.0,3556.0,6287.0,21072.0,4566.0,2090.0,...,228.0,9083.0,2011.0,665.0,69451.0,1452.0,17953.0,337064.0,14328.0,154377.0
6,10/27/2021,6992.0,145608.0,42637.0,7518.0,3557.0,6292.0,21096.0,4570.0,2091.0,...,228.0,9092.0,2010.0,665.0,69528.0,1452.0,17965.0,337572.0,14343.0,154527.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,04/16/2022,7953.0,168908.0,48620.0,8498.0,3949.0,6836.0,24678.0,5405.0,2319.0,...,264.0,10146.0,2238.0,709.0,80018.0,1751.0,20063.0,387115.0,15933.0,174929.0
178,04/17/2022,7954.0,168931.0,48632.0,8499.0,3949.0,6834.0,24680.0,5407.0,2320.0,...,264.0,10148.0,2238.0,709.0,80040.0,1755.0,20067.0,387192.0,15934.0,174943.0
179,04/18/2022,7954.0,168978.0,48640.0,8497.0,3949.0,6834.0,24691.0,5410.0,2320.0,...,264.0,10152.0,2239.0,709.0,80043.0,1755.0,20067.0,387255.0,15934.0,174951.0
180,04/19/2022,7955.0,168997.0,48644.0,8499.0,3949.0,6834.0,24706.0,5410.0,2321.0,...,264.0,10152.0,2239.0,709.0,80054.0,1760.0,20076.0,387345.0,15948.0,174968.0
181,04/20/2022,7955.0,168998.0,48645.0,8499.0,3949.0,6834.0,24706.0,5410.0,2321.0,...,264.0,10153.0,2240.0,709.0,80058.0,1760.0,20076.0,387356.0,15948.0,174969.0

In [74]:
for i in range(1,181):
  df.iloc[i+1,1:] = old.iloc[i-1,1:] - new.iloc[i-1,1:]

,Recip_County,Eastland County,Hays County,Hunt County,Hutchinson County,Newton County,Nolan County,Wharton County,Clay County,Crane County,...,Borden County,Burleson County,Martin County,Throckmorton County,Wichita County,Concho County,Matagorda County,Montgomery County,Howard County,Lubbock County
0,Recip_State,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10/22/2021,6953.0,144924.0,42326.0,7458.0,3542.0,6257.0,21014.0,4544.0,2081.0,...,227.0,9035.0,2002.0,663.0,69169.0,1443.0,17877.0,335844.0,14225.0,153873.0
2,10/23/2021,19.0,187.0,114.0,16.0,9.0,15.0,25.0,8.0,7.0,...,1.0,13.0,1.0,2.0,164.0,2.0,29.0,569.0,70.0,182.0
3,10/24/2021,0.0,60.0,35.0,5.0,0.0,6.0,13.0,4.0,0.0,...,0.0,7.0,3.0,0.0,79.0,4.0,10.0,168.0,4.0,64.0
4,10/25/2021,7.0,64.0,12.0,7.0,-4.0,0.0,8.0,5.0,0.0,...,0.0,11.0,4.0,0.0,11.0,1.0,14.0,87.0,2.0,44.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,04/16/2022,4.0,69.0,20.0,2.0,0.0,1.0,6.0,0.0,1.0,...,0.0,2.0,0.0,0.0,25.0,2.0,1.0,139.0,0.0,59.0
178,04/17/2022,1.0,23.0,12.0,1.0,0.0,-2.0,2.0,2.0,1.0,...,0.0,2.0,0.0,0.0,22.0,4.0,4.0,77.0,1.0,14.0
179,04/18/2022,0.0,47.0,8.0,-2.0,0.0,0.0,11.0,3.0,0.0,...,0.0,4.0,1.0,0.0,3.0,0.0,0.0,63.0,0.0,8.0
180,04/19/2022,1.0,19.0,4.0,2.0,0.0,0.0,15.0,0.0,1.0,...,0.0,0.0,0.0,0.0,11.0,5.0,9.0,90.0,14.0,17.0
181,04/20/2022,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,4.0,0.0,0.0,11.0,0.0,1.0

In [75]:
df.to_csv('first_dose_daily_increase.csv')

In [78]:
df = pd.read_csv("second_dose_data_transpose.csv")
new = df.iloc[1:-1].copy()
old = df.iloc[2:].copy()
for i in range(1,181):
  df.iloc[i+1,1:] = old.iloc[i-1,1:] - new.iloc[i-1,1:]
df.to_csv('second_dose_daily_increase.csv')

In [80]:
df = pd.read_csv("booster_dose_data_transpose.csv")
new = df.iloc[1:-1].copy()
old = df.iloc[2:].copy()
for i in range(1,127):
  df.iloc[i+1,1:] = old.iloc[i-1,1:] - new.iloc[i-1,1:]
df.to_csv('booster_dose_daily_increase.csv')